*,
::before,
::after {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  /* font-weight: 700; */
}

h1 {
  font-size: 2rem;
}

hr {
  border-top-color: #ccc;
}

footer {
  height: 50px;
  font-size: 0.9rem;
}

aside .about {
  width: 90%;
}

@media (max-width: 768px) {
  aside .about {
    width: 100%;
  }
}
