/* GLOBAL */

*,
::before,
::after {
  font-family: "Roboto", sans-serif;
}

body {
  /* stick footer to the bottom */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* stick footer to the bottom */
  flex-grow: 1;
}

footer {
  height: 60px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  /* default: 2.25rem */
  font-size: 2rem;
}

h2 {
  /* default: 2rem */
  font-size: 1.6rem;
}

h3 {
  /* default: 1.75rem */
  font-size: 1.4rem;
}

h4 {
  /* default: 1.50rem */
  font-size: 1.2rem;
}

h5 {
  /* default: 1.25rem */
  font-size: 1rem;
}

h6 {
  /* default: 1rem */
  font-size: 0.8rem;
}

hr {
  border-top-color: #ccc;
}

.wrapper-w50 {
  width: 50%;
}

@media (max-width: 768px) {
  .wrapper-md-w100 {
    width: 100%;
  }
}

/* FRONT */

#pw-toggler {
  cursor: pointer;
}

aside > section {
  width: 90%;
}

@media (max-width: 768px) {
  aside > section {
    width: 100%;
  }
}

/* BACK */

.delete-link {
  cursor: pointer;
  display: inline-block;
}

.delete-link::before {
  content: "";
  background: url(../images/delete.svg);
  background-repeat: no-repeat;
  padding-right: 1rem;
  margin-right: 1rem;
}

.edit-link {
  cursor: pointer;
  display: inline-block;
}

.edit-link::before {
  content: "";
  background: url(../images/edit.svg);
  background-repeat: no-repeat;
  padding-right: 1rem;
  margin-right: 1rem;
}

.create-page-link-blue::before {
  content: "";
  background: url(../images/create_blue.svg);
  background-repeat: no-repeat;
  padding-right: 1rem;
  margin-right: 1rem;
}

.create-page-link-white::before {
  content: "";
  background: url(../images/create_white.svg);
  background-repeat: no-repeat;
  padding-right: 1rem;
  margin-right: 1rem;
}

.manage-page-link::before {
  content: "";
  background: url(../images/manage.svg);
  background-repeat: no-repeat;
  padding-right: 1rem;
  margin-right: 1rem;
}
